{% assign section_order = settings.homepage_sections | replace: ' ', '' | split: ',' %}
{% for section_order in section_order %}

<!-- Orox currently uses sections 1,2,10,4 -->

{% if section_order == '1' %}
<section class="homepage-section animate wow fadeIn">
  {% if settings.display-wide %}
  {% else %}
  <div class="row">
    <div class="desktop-12 tablet-6 mobile-3">
      {% endif %}

      {% if settings.homepage-display == 'video' %}
      <div class="videoWrapper">
        {{ settings.video-embed }}
      </div>

      {% elsif settings.homepage-display == 'slideshow' %}
    <div class="flexslider">
          <ul class="slides">


            {% for i in (1..5) %}
            {% assign slide_show = 'slide-' | append: i | append: '-check' %}

            {% if settings[slide_show] %}
            {% assign index = 'slide' | append: i %}
            {% assign slide_link_url = 'slide' | append: i | append: '_url' %}
            {% assign slide_img_url = 'slide' | append: i | append: '.jpg' %}
            {% assign slide_img_alt = 'slide' | append: i | append: '_alt' %}
            {% assign slide_title = 'slide-' | append: i | append: '-title' %}
            {% assign slide_caption = 'slide-' | append: i | append: '-caption' %}
            {% assign slide_button = 'slide-' | append: i | append: '-button' %}
            {% assign slide_button_text = 'slide-' | append: i | append: '-button-text' %}        

            <li>
              <a href="{{ settings[slide_link_url] }}">
                <img src="{{ slide_img_url | asset_url }}" alt="{{ settings[slide_img_alt] }}" />
              </a>
              <div class="flex-caption {{ index }}">
          {% if settings[slide_title] != blank %}                        
                <h2 class="slide-title">{{ settings[slide_title] }}</h2>
                {% endif %}
          {% if settings[slide_caption] != blank %}            
                <p class="caption">{{ settings[slide_caption] }}</p>
                {% endif %}
                {% if settings[slide_button] %}
                <div class="cta">
                  <a href="{{ settings[slide_link_url] }}">{{ settings[slide_button_text] }}</a>
                </div>
                {% endif %}            
              </div>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %} 

      {% if settings.display-wide %}
      {% else %}
    </div>
  </div>
    {% endif %}    
<div class="clear"></div>  
</section>
{% elsif section_order == '2' %}
<section class="homepage-section animate wow fadeIn no-fouc">
  <div id="collection-loop" class="row" style="width:100%;">    
    {% for link in linklists[settings.home-collection-linklist].links limit:4%}
    {% assign collection = link.object %}
    <div class="collection-index desktop-collection-collage tablet-half-collage mobile-half{% cycle ' first', '', '', ' last' %}" data-alpha="{{ collection.title }}">  
      <div class="collection-image">
        <a href="{{ collection.url }}" title="{{ collection_title }}">
          {% if collection.image %}
          {{ collection.image.src | collection_img_url: 'grande' | img_tag: collection_title }}
          {% else %}
          {{ collection.products.first.featured_image | product_img_url: 'grande' | img_tag: collection_title }}
          {% endif %}
        </a>     
      </div>
      <div class="collection-info">
        <a href="{{ collection.url }}" title="{{ collection.title }}">
          <h3>{{ collection.title }}</h3>
<!--      <p>{{ 'collections.general.items_count' | t: count: collection.products_count }}</p> -->
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% elsif section_order == '3' %}
<section class="homepage-section animate wow fadeIn no-fouc">
  <div class="row">
    <div id="index-content-left" class="desktop-12 tablet-6 mobile-3">
      <div class="section-title lines"><h2>{{ pages[settings.pages-left].title }}</h2></div>  
      <div class="pages-left-content">
        {{ pages[settings.pages-left].content }}
      </div>
    </div>
  </div>
</section>  
{% elsif section_order == '4' %}
<section class="homepage-section animate wow fadeIn no-fouc">
  {% assign url = '{{image}}' %}
  {% assign caption = '{{caption}}' %}
  <div id="instagram-card" class="row" style="width:100%;">
    <div class="section-title lines"><h2><a href="http://instagram.com/{{ settings.instagram-id }}" target="_blank">{{ 'layout.homepage.instagram' | t }} @{{ settings.instagram-id }}</a> {{ 'layout.homepage.instagram_follow_where' | t }}</h2></div>  
    <div id="instafeed"></div>
    <script type="text/javascript">
      var userFeed = new Instafeed({
        get: 'user',
        userId: {{ settings.instagram-user-id }},
        accessToken: '{{ settings.instagram-access-token }}',
        template: '<a class="fancybox desktop-2 tablet-1 mobile-half padded" href="{{url}}" rel="ig" title="{{ caption }}"><img class="instagram-image" src="{{ url }}" /></a>'
      });
      userFeed.run();        
    </script>
  </div>
</section>
{% elsif section_order == '5' %}
<section class="homepage-section animate wow fadeIn no-fouc">
  <div class="row">
    <div class="section-title lines desktop-12 tablet-6 mobile-3"><h2>{{ collections[settings.homepage-collection1].title }}</h2></div>
    <div class="collection-carousel desktop-12 tablet-6 mobile-3">
      {% for product in collections[settings.homepage-collection1].products limit: settings.homepage-product-1-limit %}
      <div class="lazyOwl" id="product-{{ product.id }}" data-alpha="{{ product.title }}" data-price="{{ product.price }}">
        {% include 'product-listing' %}
      </div>
      {% endfor %}
    </div>      
  </div>
</section>
{% elsif section_order == '6' %}
<section class="homepage-section animate wow fadeIn no-fouc">
  <div class="row">
    <div class="section-title lines desktop-12 tablet-6 mobile-3"><h2>{{ collections[settings.homepage-collection2].title }}</h2></div>
    <div class="collection-carousel desktop-12 tablet-6 mobile-3">
      {% for product in collections[settings.homepage-collection2].products limit: settings.homepage-product-2-limit %}
      <div class="lazyOwl" id="product-{{ product.id }}" data-alpha="{{ product.title }}" data-price="{{ product.price }}">
        {% include 'product-listing' %}
      </div>
      {% endfor %}
    </div>      
  </div>
</section>
{% elsif section_order == '7' %}
<section class="homepage-section animate wow fadeIn no-fouc">
  <div class="row">
    <div class="section-title lines desktop-12 tablet-6 mobile-3"><h2>{{ collections[settings.homepage-collection3].title }}</h2></div>
    <div class="collection-carousel desktop-12 tablet-6 mobile-3">
      {% for product in collections[settings.homepage-collection3].products limit: settings.homepage-product-3-limit %}
      <div class="lazyOwl" id="product-{{ product.id }}" data-alpha="{{ product.title }}" data-price="{{ product.price }}">
        {% include 'product-listing' %}
      </div>
      {% endfor %}
    </div>      
  </div>
</section>
{% elsif section_order == '8' %}
<section class="homepage-section animate wow fadeIn no-fouc">
  <div class="row">
    <div class="section-title lines desktop-12 tablet-6 mobile-3"><h2>{{ collections[settings.homepage-collection4].title }}</h2></div>
    <div class="collection-carousel desktop-12 tablet-6 mobile-3">
      {% for product in collections[settings.homepage-collection4].products limit: settings.homepage-product--4limit %}
      <div class="lazyOwl" id="product-{{ product.id }}" data-alpha="{{ product.title }}" data-price="{{ product.price }}">
        {% include 'product-listing' %}
      </div>
      {% endfor %}
    </div>      
  </div>
</section>
{% elsif section_order == '9' %}
<section class="homepage-section animate wow fadeIn no-fouc">
  <div class="row">
    <div class="section-title lines desktop-12 tablet-6 mobile-3"><h2>{{ collections[settings.homepage-collection5].title }}</h2></div>
    <div class="collection-carousel desktop-12 tablet-6 mobile-3">
      {% for product in collections[settings.homepage-collection5].products limit: settings.homepage-product-5-limit %}
      <div class="lazyOwl" id="product-{{ product.id }}" data-alpha="{{ product.title }}" data-price="{{ product.price }}">
        {% include 'product-listing' %}
      </div>
      {% endfor %}
    </div>      
  </div>
</section>
{% elsif section_order == '10' %}
{% assign grid = 0 %}
{% if settings.promo1 %}{% assign grid = grid | plus: 1 %}{% endif %}
{% if settings.promo2 %}{% assign grid = grid | plus: 1 %}{% endif %}
{% if settings.promo3 %}{% assign grid = grid | plus: 1 %}{% endif %} 
{% if settings.promo4 %}{% assign grid = grid | plus: 1 %}{% endif %}   
{% if grid > 0 %} 
<section class="homepage-section animate wow fadeIn no-fouc">
  <div class="row" style="width:100%;">
    {% assign promo = 'promo1' %}
    {% if settings.promo1 %}        
    <div class="homepage-promo desktop-large-collage tablet-collage-large">
      {% include 'homepage_promo' %}
    </div>
    {% endif %}
    {% assign promo = 'promo2' %}
    {% if settings.promo2 %}  
    <div class="homepage-promo desktop-small-collage tablet-collage-small">
      {% include 'homepage_promo' %}
    </div>
    {% endif %}
  </div>
  <div class="row" style="width:100%;">
    {% assign promo = 'promo3' %}
    {% if settings.promo3 %}  
    <div class="homepage-promo desktop-small-collage tablet-collage-small">
      {% include 'homepage_promo' %}
    </div>
    {% endif %}
    {% assign promo = 'promo4' %}
    {% if settings.promo4 %}  
    <div class="homepage-promo desktop-large-collage tablet-collage-large">
      {% include 'homepage_promo' %}
    </div>
    {% endif %}
  </div>
</section>
{% endif %}
{% elsif section_order == '11' %}
{% assign grid = 0 %}
{% if settings.promo5 %}{% assign grid = grid | plus: 1 %}{% endif %}
{% if settings.promo6 %}{% assign grid = grid | plus: 1 %}{% endif %}
{% if settings.promo7 %}{% assign grid = grid | plus: 1 %}{% endif %} 
{% if settings.promo8 %}{% assign grid = grid | plus: 1 %}{% endif %}   
{% if grid > 0 %} 
<section class="homepage-section animate wow fadeIn no-fouc">
  <div class="row">
    {% assign promo = 'promo5' %}
    {% if settings.promo5 %}        
    <div class="homepage-promo desktop-{{ 12 | divided_by: grid }} mobile-3">
      {% include 'homepage_promo' %}
    </div>
    {% endif %}
    {% assign promo = 'promo6' %}
    {% if settings.promo6 %}  
    <div class="homepage-promo desktop-{{ 12 | divided_by: grid }} mobile-3">
      {% include 'homepage_promo' %}
    </div>
    {% endif %}        
    {% assign promo = 'promo7' %}
    {% if settings.promo7 %}  
    <div class="homepage-promo desktop-{{ 12 | divided_by: grid }} mobile-3">
      {% include 'homepage_promo' %}
    </div>
    {% endif %}
    {% assign promo = 'promo8' %}
    {% if settings.promo8 %}  
    <div class="homepage-promo desktop-{{ 12 | divided_by: grid }} mobile-3">
      {% include 'homepage_promo' %}
    </div>
    {% endif %}        
  </div>
</section>
{% endif %}
{% elsif section_order == '12' %}
{% assign grid = 0 %}
{% if settings.promo9 %}{% assign grid = grid | plus: 1 %}{% endif %}
{% if settings.promo10 %}{% assign grid = grid | plus: 1 %}{% endif %}
{% if settings.promo11 %}{% assign grid = grid | plus: 1 %}{% endif %} 
{% if settings.promo12 %}{% assign grid = grid | plus: 1 %}{% endif %}   
{% if grid > 0 %}
<section class="homepage-section animate wow fadeIn no-fouc">
  <div class="row">
    {% assign promo = 'promo9' %}
    {% if settings.promo9 %}        
    <div class="homepage-promo desktop-{{ 12 | divided_by: grid }} mobile-3">
      {% include 'homepage_promo' %}
    </div>
    {% endif %}
    {% assign promo = 'promo10' %}
    {% if settings.promo10 %}  
    <div class="homepage-promo desktop-{{ 12 | divided_by: grid }} mobile-3">
      {% include 'homepage_promo' %}
    </div>
    {% endif %}        
    {% assign promo = 'promo11' %}
    {% if settings.promo11 %}  
    <div class="homepage-promo desktop-{{ 12 | divided_by: grid }} mobile-3">
      {% include 'homepage_promo' %}
    </div>
    {% endif %}
    {% assign promo = 'promo12' %}
    {% if settings.promo12 %}  
    <div class="homepage-promo desktop-{{ 12 | divided_by: grid }} mobile-3">
      {% include 'homepage_promo' %}
    </div>
    {% endif %}        
  </div>
</section>
{% endif %}

{% elsif section_order == '13' %}
<section class="homepage-section animate wow fadeIn no-fouc">
<div class="row">
  <div class="section-title lines desktop-12 tablet-6 mobile-3"><h2>BLOG POSTS</h2></div>
  <div id="article-loop">
    {% for article in blogs.news.articles limit: 3 %}   
    {% include 'article-loop' %}
    {% endfor %} 
  </div>  
</div>
</section>
{% endif %}
{% endfor %}

<div class="load-wait">
<i class="icon-spinner icon-spin icon-large"></i>
</div>