<head>
	<link href='https://fonts.googleapis.com/css?family=Glegoo' rel='stylesheet' type='text/css'>
</head>
<div style="font-family: 'Glegoo', serif; ">
	<table style="background:#dddddd;">
	<tbody>
		<tr id="header">
			<div style="margin: 20px auto;">
				<center><a target="_blank" href="http://www.oroxleather.com/">{{ 'email-logo.png' | asset_url | img_tag }}</a></center>
			</div>
		</tr>
		<tr id="nav-bar">
			<center>
				<div style='margin: 30px 15px 0 15px; display: inline-block;'>
					<a style="color:#444444; border:2px solid #444444; text-decoration: none; border-radius: 2px; padding: 10px;" target="_blank" href="http://www.oroxleather.com/pages/about-us">Our Story > </a>
				</div>
			
				<div style='margin: 30px 15px 0 15px; display: inline-block;'>
					<a style="color:#444444; border:2px solid #444444; text-decoration: none; border-radius: 2px; padding: 10px;" target="_blank" href="http://www.oroxleather.com/pages/meet-the-family">Meet the Family > </a>
				</div>
			
				<div style='margin: 30px 15px 0 15px; display: inline-block;'>
					<a <a style="color:#444444; border:2px solid #444444; text-decoration: none; border-radius: 2px; padding: 10px;" target="_blank" href="https://instagram.com/oroxleatherco/?hl=en">Instagram > </a>
				</div>
			</center>
		</tr>
		<tr id="hello">
			<p style="line-height: 30px; text-align: center; margin: 45px 5% 15px 5%;">Dear {% if customer.name %}{{ customer.name }},{% endif %}</p>
		</tr>
		<tr id="body-0">
			<p style="margin: 0 15%; line-height: 30px; text-align: center;">
				We are sorry our product didn’t meet your needs. Please let us know how can we do better. We have refunded your order ({{ name }}){% if amount > 0 %} for a total of {{ amount | money_with_currency }}{% endif %} for the following items:
			</p>
		</tr>
		<tr id="body-1">
			<center>
				<div style="margin: 10px 25px 25px 25px;">
					{% if refund_line_items.size > 0 %} 
						{% for line in line_items %}
							<div style="margin: 0 50px;">
								<p>{{ line.title }} ({{ line.quantity }})</p>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</center>
		</tr>
		<tr id="body-2">
			<p style="margin: 0 15%; line-height: 30px; text-align: center;">
				Please allow up to 5 days until the refund clears on your bank account. We thank you for your business and look forward to seeing you back soon.
			</p>
		</tr>
		<tr id="signature">
			<div style="margin: 30px;">
				<p style="line-height: 30px; text-align: center; margin: 0 5%;">Sincerely,</p>
				<p style="line-height: 30px; text-align: center; margin: 0 5%;">The Martinez Family</p>
			</div>	
		</tr>
		<tr id="signature-photo">
			<div style="text-align: center; margin-bottom: 12%;">
				{{ 'family-small.png' | asset_url | img_tag }}
			</div>
		</tr>
		<tr id="footer">
			<center>
				<div style='display:inline-block; vertical-align: top; margin-top:25px;  margin-right:20px; margin-bottom:20px; margin-left:30px;'> 
					<a target="_blank" href="http://www.oroxleather.com/"> {{ 'Orox-Mark-Black.png' | asset_url | img_tag }}</a> 
				</div>
				<div style="display:inline-block; margin: 20px 40px;">
					<div style="display:block; text-align: center;">
						<a style="text-align: center; margin: 15px;" href="https://www.facebook.com/oroxleather" target="_blank">{{ 'email-facebook.png' | asset_url | img_tag }}</a>
						<a style="text-align: center; margin: 15px;" target="_blank" href="https://www.pinterest.com/oroxleather"> {{ 'email-pinterest.png' | asset_url | img_tag }}</a>
						<a style="text-align: center; margin: 15px;" href="https://twitter.com/OroxLeatherCo" target="_blank"> {{ 'email-twitter.png' | asset_url | img_tag }}</a>
						<a style="text-align: center; margin: 15px;" target="_blank" href="https://www.instagram.com/oroxleatherco"> {{ 'email-instagram.png' | asset_url | img_tag }}</a>
					</div>
					<div style="display:block; text-align: center;">
					{{ 'footer-store-info.png' | asset_url | img_tag }}
					</div>
				</div>
				<div style='display:inline-block; vertical-align: top; margin-top:20px;  margin-right:30px; margin-bottom:20px; margin-left:20px;'> 
					<a target="_blank" href="http://www.oroxleather.com/"> {{ 'email-madeinusa.png' | asset_url | img_tag }}</a> 
				</div>
			</center>
		</tr>
	</tbody>
	</table>
</div>
